body{
    display: grid;
    place-items: center;
}
.body{
    column-count: 3;
    column-gap: 10px;
    width: 100%;
    
}
.content{
    
    width:100%;
   text-align: center;
   overflow-x: auto;
}
pre{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    width: 40%;
    flex-basis: 10rem;
    place-content: center;
    display:inline-block ;
    animation: fadeIn 2s ease-in-out;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes fadeIn {
    0% {
        opacity: 0; 
        transform: translateY(10px); /* يبدأ النص من أسفل */
    }
    100% {
        opacity: 1; /* يصبح النص مرئي */
        transform: translateY(0); /* يعود النص إلى موضعه الأصلي */
    }
}
.card{
    margin: 30px;
}
.card-title{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #974EC3;
}
a:hover{
    color: white;
    background-color: #974EC3;
}  
